<nb-card [nbSpinner]="loading">
    <nb-card-header>
        <span *ngIf="isCreate()">Create new course</span>
        <span *ngIf="isModify()">Modify course</span>
        <span *ngIf="isView()">View course</span>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="courseForm">
            <div>
                <div>
                    <span>Code:</span>
                </div>
                <div>
                    <input id="code" name="code" formControlName="code" nbInput type="text" placeholder="Code" />
                </div>
            </div>
            <div
                *ngIf="!isView() && (courseFormControl.code.touched || submitted)  && courseFormControl.code.errors !== null">
                <span class="text-danger" *ngIf="courseFormControl.code.errors?.required">
                    Code is required
                </span>
                <span class="text-danger"
                    *ngIf="courseFormControl.code.errors?.minlength || courseFormControl.code.errors?.maxlength">
                    Code length must be beetween 1 and 64 characters
                </span>
            </div>
            <div>
                <div>
                    <span>Name:</span>
                </div>
                <div>
                    <input id="name" name="name" formControlName="name" nbInput type="text" placeholder="Name" />
                </div>
            </div>
            <div
                *ngIf="!isView() && (courseFormControl.name.touched || submitted)  && courseFormControl.name.errors !== null">
                <span class="text-danger" *ngIf="courseFormControl.name.errors?.required">
                    Name is required
                </span>
                <span class="text-danger"
                    *ngIf="courseFormControl.name.errors?.minlength || courseFormControl.name.errors?.maxlength">
                    Name length must be beetween 1 and 64 characters
                </span>
            </div>
            <div>
                <div>
                    <span>Description:</span>
                </div>
                <div>
                    <textarea id="description" name="description" formControlName="description" nbInput
                        placeholder="Description"></textarea>
                </div>
            </div>
            <div>
                <div>
                    <span>Students:</span>
                </div>
                <div *ngFor="let courseStudent of courseStudents; index as index"
                    style="flex-direction: row; align-items: center;">
                    <span style="padding: 5px; font-weight: bold;">{{index + 1}}.</span>
                    <input nbInput type="text" disabled="true"
                        [value]="courseStudent.firstName + ' ' + courseStudent.lastName" />
                    <div *ngIf="isCreate() || isModify()" style="padding: 5px;">
                        <button nbButton status="danger" (click)="removeStudent(index)">Remove</button>
                    </div>
                </div>
                <div *ngIf="isCreate() || isModify()" style="padding: 5px; flex-direction: column; align-items: center;">
                    <div>
                        <input [formControl]="studentSearchFormControl" nbInput type="text" placeholder="Student name to search for"
                            [nbAutocomplete]="auto"  />
                    </div>
                    <div>
                        <nb-autocomplete #auto [activeFirst]="true" [handleDisplayFn]="viewHandle" [activeFirst]="true">
                            <nb-option *ngFor="let option of studentSearchFilteredOptions" [value]="option">
                                {{ option.firstName }} {{ option.lastName }}
                            </nb-option>
                        </nb-autocomplete>
                    </div>
                    <div style="padding: 5px;">
                        <button nbButton status="success" (click)="addStudent()">Add student</button>
                    </div>
                </div>
            </div>
        </form>
        <div style="justify-content: center">
            <span class="text-danger" *ngIf="error">
                Error occured
            </span>
            <span class="text-success" *ngIf="success">
                Success
            </span>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div *ngIf="isView()">
            <div>
                <button nbButton status="success" (click)="startEdit()">
                    Edit
                </button>
            </div>
            <div>
                <button nbButton status="danger" (click)="close()">
                    Close
                </button>
            </div>
        </div>
        <div *ngIf="isCreate()">
            <div>
                <button nbButton status="success" (click)="createCourse()">
                    Save
                </button>
            </div>
            <div>
                <button nbButton status="danger" (click)="close()">
                    Cancel
                </button>
            </div>
        </div>
        <div *ngIf="isModify()">
            <div>
                <button nbButton status="success" (click)="updateCourse()">
                    Save
                </button>
            </div>
            <div>
                <button nbButton status="danger" (click)="close()">
                    Cancel
                </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>